@import 'libs/normalize';
@import 'libs/fonts';
@import 'libs/slick';
@import 'libs/animate';

@import 'mixins';
@import 'variables';

@import 'animation';
@import 'promo';
@import 'header';
@import 'buttons';
@import 'title';
@import 'skill';
@import 'consultion';
@import 'feed-form';
@import 'carousel';
@import 'catalog';
@import 'feedback';
@import 'footer';
@import 'modal';
@import 'pugeup';
@import 'media';

* {
    font-family: 'MuseoModerno', sans-serif;
}

* {
    box-sizing: border-box;
}

.contianer {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
}